html {
  box-sizing: border-box;
}
body{
	background-image:url('../IMAGE/HOME/cat-a3.png');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover;
	background-size: 100% 100%;
	margin:0 auto;
}
h1{
	font-family: 'roboto',monospace;
	font-variant:small-caps;
	font-size:5em;
	text-shadow:1px 1px 3px #ED4C30;
	padding-left:50px;
	margin-top:0;

}
h2{
	background-color: black;
	color: #ED4C30;
	font-family: 'roboto',monospace;
	font-variant:small-caps;
	font-size:2.55em;
	text-align: center;
}
/*This is for navigation*/
.navigation {
	position: sticky;
	top:50% !important;
	bottom:auto;
	height: 50px;
}
	ul{
		list-style-type:none;
		margin:0;
		padding:0;
		width:50px;
		background-color:#000000;
	}
	li a{
		display:block;
		color:#000;
		padding:8px 10px;
		text-decoration:none;
	}
	li a:hover{
		color:white;
		background-color:#000000;
		width:40px;
	}
.nav-img{
	height:30px;
	width:30px;
	margin-left: auto;
	margin-right: auto;
	background-color:tranparent;
}

/*choice container*/
.picture-choicer-container{
	border:2px solid black;
	border-radius:5%;
	background-color:#fff;
	padding:45px;
	width:350px;
	margin:40px;
	margin-left:100px;
	margin-bottom: 10%;
	font-family: verdana,calibri,sans-serif;
	box-shadow: 5px 5px 7px #FF7C66;
}
.choice-container{
	border:1px solid black;
	border-radius:20%;
	padding:10px 20px;
	font-size:1.150em;
	font-family:verdana, sans-serif;
	font-variant:small-caps;
	margin:10px;
	color:black;
}
	a.choice-container:hover{
		color:white;
		font-weight:heavy;
		background-color:#000;
		text-decoration:none;
		box-shadow: 5px 5px 5px #FF7C66;
	}
	.choice-container:link{
		text-decoration:none;
		background-color:#FF7C66;
		box-shadow: 5px 5px 5px #000000;
	}

/*waifu and husbando container*/
.container{
	background-color: #333;
	height: auto;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
}
.waifuu:link{
	text-decoration: none;
}
.waifuu{
	color: black;
}
.husbandoo:link{
	text-decoration: none;
}
.husbandoo{
	color: black;
}
/*anime picture css*/ /*waifu*/
.kurumi{
	box-shadow: 5px 5px 5px #FF7C66;
	height: 400px;
	width: 300px;
	margin: 2%;
}
.esdeath{
	box-shadow: 5px 5px 5px #007acc;
	height: 400px;
	width: 300px;
	margin: 2%;
}
.zerotwo{
	box-shadow: 5px 5px 5px #6600cc;
	height: 400px;
	width: 300px;
	margin: 2%;
}
.nezuko{
	box-shadow: 5px 5px 5px #800000;
	height: 400px;
	width: 300px;
	margin: 2%;
}
/*husbando*/
.ayato{
	box-shadow: 5px 5px 5px #cc0000;
	height: 400px;
	width: 300px;
	margin: 2%;
}
.dazai{
	box-shadow: 5px 5px 5px #ffa64d;
	height: 400px;
	width: 300px;
	margin: 2%;
}
.nanase{
	box-shadow: 5px 5px 5px #00ccff;
	height: 400px;
	width: 300px;
	margin: 2%;
}
.gojo{
	box-shadow: 5px 5px 5px #c2c2d6;
	height: 400px;
	width: 300px;
	margin: 2%;
}

/*anime text*/
.anime-text{
	line-height: 1.55em;
	width: 350px;
	font-size: 1.325em;
	color: white;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

/*dropdown*/
.btn{
	background-color: #ED4C30;
	border-radius: 5%;
	color: black;
	padding: 12px;
	font-size: 1.255em;
}
.drop-down-container{
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
}
.list-content-container{
	display: none;
	position: absolute;
	background-color: #000;
	min-width: 120px;
	z-index: 1;
}
.list-content-container a{
	text-decoration: none;
	color: white;
	padding: 14px 18px;
	display: block;
}
.list-content-container a:hover{
	background-color: #ED4C30;
}
.drop-down-container{
	box-shadow: 5px 5px 7px #000;
}
.drop-down-container:hover .list-content-container{
	display: block;
}
.drop-down-container:hover .btn{
	background-color: lightcyan;
}

/*go up container*/
.up{
	text-align: right;
}
.up-text{
	border:1px solid black;
	border-radius:20%;
	padding:5px 10px;
	font-size: 1.225em;
	font-family:verdana, sans-serif;
	font-variant:small-caps;
	margin:2%;
	color:white;
}
a.up-text:link{
	text-decoration: none;
	background-color: black;
	box-shadow: 5px 5px 5px #ED4C30;
}
a.up-text:hover{
	text-decoration: none;
	color: black;
	background-color: #ED4C30;
	box-shadow: 5px 5px 5px lightcyan;
}

/*media for all*/
@media (max-width: 677px){
	.anime-text{
		width: 370px;
		margin-left: 2%;
	}
	.kurumi,.esdeath,.zerotwo,.nezuko,.ayato,.dazai,.nanase,.gojo{
		margin-left: 10%;
	}
	h2{
		font-size: 2.015em;
	}
	h1{
		font-size: 2.755em;
		background: rgba(255, 255, 255, .8);
	}
	.picture-choicer-container{
		margin-left: 40px;
		width: 300px;
	}
	.drop-down-container{
		display: inline-block;
	}
	.btn{
		font-size: 1em;
		width: 100px;
		display: inline;
	}
}